.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-family: 'Monoton', cursive;
    box-shadow: 4px 0 5px 0 grey;
    text-shadow: 2px 2px 2px red;
    background-color: #312e2e; /* Beige */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    color: #6accc5;
}

#plus {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    color: #e82b1e;
}

#search {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 4px 0 5px 0 grey;
  text-shadow: 2px 2px 2px red;
  background-color: #312e2e;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav div:hover {
    color: #f1f1f1;
}

input.searchTerm {
  font-family: 'Roboto Mono', monospace;
  border: 1px solid transparent;
  box-shadow: 4px 0 5px 0 grey;
  margin: auto;
  text-shadow: 2px 2px 2px #6accc5;
  color: #e82b1e;
  background: rgba(181, 197, 202, 0.5);
}

.player {
  position: fixed;
  bottom: 20px;
  width:100%
  text-align: center;
}

/* Style page content */
#main {
    margin-left: 160px; /* Same as the width of the sidebar */
    height: 100%;
    width: 100%;
}

#all {
  background-color: rgba(181, 197, 202, 0.5);
}
