#all {
  background-color: rgba(181, 197, 202, 0.5);
}

#loginpage {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(181, 197, 202, 0.5);
}

body, html {
    height: 100%;
    margin: 0;
}

#label {
  text-align: center;
  padding: 5px;
  font-family: 'Monoton', cursive;
  box-shadow: 4px 0 5px 0 grey;
  text-shadow: 2px 2px 2px red;
  color: #6accc5;
  background-color: #312e2e;
}

#pass{
  text-align: center;
  padding: 5px;
}

#person{
  font-family: 'Monoton', cursive;
  border-radius: 25px;
  color: #6accc5;
  text-align: center;
  padding: 5px;
}

#email{
  font-family: 'Monoton', cursive;
  border-radius: 25px;
  color: #6accc5;
  text-align: center;
  padding: 5px;
}

#passw{
  font-family: 'Monoton', cursive;
  border-radius: 25px;
  color: #6accc5;
  text-align: center;
  padding: 5px;
}
