#all {
  background-color: #dfe6e9;
}

body, html {
    height: 100%;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 4px 0 5px 0 grey;
    text-shadow: 1px 1px 1px #2d3436;
    background-color: #b2bec3;
    overflow-x: hidden;
    padding-top: 10px;
}

#logo {
  width: 50%;
  height: 50%;
}

.sidenav a {
    font-size: 20px;
    color: #81ecec;
}

#plus {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    color: #81ecec;
}

#playlistNames {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    color: #81ecec;
}

#search {
  margin-left: 160px;
  height: 60px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  box-shadow: 4px 0 5px 0 grey;
  text-shadow: 1px 1px 1px #2d3436;
  background-color: #b2bec3;
}

#searchButton {
  height: 40px;
  box-shadow: 4px 0 5px 0 grey;
  text-shadow: 1px 1px 1px #2d3436;
  color: #81ecec;
}
#logout {
  height: 40px;
  box-shadow: 4px 0 5px 0 grey;
  text-shadow: 1px 1px 1px #2d3436;
  color: #81ecec;
}
.sidenav a:hover, .sidenav div:hover {
    color: #f1f1f1;
}

.searchTerm::placeholder {
  text-shadow: none;
  color: #2d3436;
}

input.searchTerm {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid transparent;
  box-shadow: 4px 0 5px 0 grey;
  margin: auto;
  text-shadow: 1px 1px 1px #2d3436;
  color: #ff7675;
  background: #dfe6e9;
}

#logout {
  float: right;
  float: top;
}

.searchresults {
  height: 1200px;
  width: 100%;
  background-color: #dfe6e9;
  color: #2d3436;
}

.result {
  margin-left: 165px;
  width: 400px;
  border-style: solid;
  border-width: 5px;
  border-color: #2d3436;
  background-color: #ff7675;
}

.songInfo {
  font-family: Verdana, Geneva, sans-serif;
  float: right;
  width: 333px;
  height: 100%;
  list-style-type: none;
}

#main {
    /* margin-left: 160px; /* Same as the width of the sidebar */
    height: 100%;
    width: 100%;
}

.player {
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

.playerInner {
  margin-left: 115px;
  bottom: 0px
  width: 350px;
}

.playerInnerArtwork {
  width: 200px;
  height: 175px;
  border-style: solid;
  border-width: 7px;
  border-color: #2d3436;
  background-color: #f5f6fa;
}

.playerControls {
   height: 48px;
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translateY(-55%);
 }
i {
   color: #FFF;
   background: #6c5ce7;
   border-radius: 100%;
   font-size: 16px;
   padding: 8px;
   margin: auto 4px;
   cursor: pointer;
 }

#label {
  text-align: center;
  padding: 5px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: 4px 0 5px 0 grey;
  text-shadow: 1px 1px 1px red;
  color: #6accc5;
  background-color: #312e2e;
}

#user, #pass, #buttons {
  text-align: center;
  padding: 5px;
}
